<!doctype html>
<html>
  <head>
    <title>Inter-Galactic Translation App</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/uirouter.js"></script>
    <script src="js/respoke.js"></script>
    <script src="js/popup.js"></script>
  </head>
  <body ng-app="myApp">
  
    <div ng-controller="RespokeController">
        <h3 ng-show="connected">
            Connected as {{username}}
        </h3>

        <div ng-show="!connected">
            <input placeholder="My Username" ng-model="username" type="text" autofocus />
            <button ng-click="connect()">Connect</button>
        </div>

        <div ng-show="connected">
            <input placeholder="User to call" ng-model="friendId" type="text" autofocus ng-show="!activeCall" />
            <button ng-click="call()" ng-show="!activeCall">Call</button>
            <button ng-click="hangup()" ng-show="activeCall">Hang up</button>
        </div>

        <div id="remoteVideoSource"></div>
        <div id="localVideoSource"></div>
        
        
        
        <div id="messaging">
              <ul id="messages"></ul><br />
              Send To:
              <input id="remoteId" type="text" /><br />
              <textarea id="textToSend" rows="2"></textarea><br />
              <input id='sendMessage' type='button' value='Send Message' />
        </div>
        
        
    </div>

  </body>
</html>