<!doctype html>
<html>
  <head>
    <title>Inter-Galactic Translation App</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/csp.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/uirouter.js"></script>
    <script src="js/respoke.js"></script>
    <script src="js/popup.js"></script>
    <script src="js/latinize.js"></script>
    <script src="js/computerspeak.js"></script>
  </head>
  <body ng-app="myApp" ng-csp>
      <button ng-click="testTranslate()">Test Translate</button>
    <p>{{output}}</p>
    <div ng-controller="RespokeController">
        <h3 ng-show="connected">
            Connected as {{username}}
        </h3>

        <div ng-show="!connected">
            <input placeholder="My Username" ng-model="username" type="text" autofocus />
            <button ng-click="connect()">Connect</button>
        </div>

        <div ng-show="connected">
            <input placeholder="User to call" ng-model="friendId" type="text" autofocus ng-show="!activeCall" />
            <button ng-click="call()" ng-show="!activeCall">Call</button>
            <button ng-click="hangup()" ng-show="activeCall">Hang up</button>
        </div>

        <div id="remoteVideoSource"></div>
        <div id="localVideoSource"></div>
        
    </div>
    <button class="green">start</button>
    <button class="red" disabled>stop</button>
    <span style="margin-left: 10px">Accent: <select id="lang">
        <option>de</option>
        <option selected>en</option>
        <option>es</option>
        <option>fr</option>
        <option>it</option>
        <option>nl</option>
        <option>zh</option>
    </select></span>
  <span id="status"></span>
  <script src="js/rtt.js"></script>
  </body>
</html>