<div ng-controller="RespokeController">

        <h3 ng-show="connected">
            Connected as {{username}}
        </h3>

        <div ng-show="!connected">
            <input placeholder="My Username" ng-model="username" type="text" autofocus />
            <button ng-click="connect()">Connect</button>
        </div>

        <div ng-show="connected">
            <input placeholder="User to call" ng-model="friendId" type="text" autofocus ng-show="!activeCall" />
            <button ng-click="call()" ng-show="!activeCall">Call</button>
            <button ng-click="hangup()" ng-show="activeCall">Hang up</button>
        </div>

        <div id="remoteVideoSource"></div>
        <div id="localVideoSource"></div>

</div>